:root {
    font-size: 62,5%;
    --pri-color: #d6d6d6;
    --sec-color: #000000;
    --ter-color:;
}

body {
    height: 100vh;
}

header {
    height: 10vh;
    background-color: ;
}

main {
    height: 80vh;
    background-color: blueviolet;
}

footer {
    height: 10vh;
    background-color: blue;
}
