:root {
    font-size: 62,5%;
    font-family: Arial, Helvetica, sans-serif;
    --pri-color: #d6d6d6;
    --sec-color: orange;
    /* --ter-color:; */
}

body {
    height: 100vh;
}

header {
    height: 10vh;
    background-color: blue;
}

main {
    height: 80vh;
    /* background-image: url(../img/esc_int.jpg);
    background-position: center;
    background-size: cover; */
}

.sessao {
    border: 3px solid var(--sec-color);
    border-radius: 10px;
    height: 170px;
    background-color: var(--pri-color);
    margin: 20px;
}

.sessao h3 {
    background-color: var(--sec-color);
    height: 30px;
    font-size: 22px;
    text-align: center;
}

.identificacao div{
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

.sessao input {
    margin: 8px;
    text-indent: 5px;
    font-size: 18px;
    border: 2px solid var(--sec-color);
    border-radius: 6px;
    height: 25px;
}

.sessao label {
    font-size: 18px;
    margin: 5px;
}

.sessao select {
    font-size: 18px;
    height: 30px;
    width: 300px;
    border: 2px solid var(--sec-color);
    border-radius: 6px;
}

footer {
    height: 10vh;
    background-color: blue;
}
